extends layout

block content
  h2 #{title}
  p List tbd.



//-
      ul
        each cat in catList.length ? catList : ['There are no values.']
          li= cat.parent_subclass + " - " + cat.category
