body {
  font: .75rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font: 1rem;
}

div#container {
  width: 100vw;
}

div#header {
  margin-left: 25.1vw;
}

div#nav {
  width: 25vw;
  margin-right: 15px;
}
